name: CI/CD - Build, Test and Deploy to Azure

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    # runs-on: windows-latest

    steps:
      - name: Checkout codigo
        uses: actions/checkout@v4

      - name: Instalar .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restaurar dependencias
        run: dotnet restore

      - name: Build do projeto
        run: dotnet build --no-restore --configuration Release

      - name: Executar testes
        run: dotnet test --no-build --verbosity normal

  deploy:
    name: Deploy para Azure
    needs: build-and-test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout codigo
        uses: actions/checkout@v4

      - name: Publicar projeto
        run: dotnet publish ./FiapCloudGamesWebAPI.Application/FiapCloudGameWebAPI.Application.csproj -c Release -o ./publis
       

      - name: Deploy para Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: fiapgames-app
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
          package: ./publish
